# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Android
android/local.properties
android/app/google-services.json
android/app/google-services*.json
android/.gradle/

# iOS
ios/Flutter/flutter_export_environment.sh
ios/.symlinks/
ios/Pods/

# IDEs
.idea/
.vscode/
*.iml

# Misc
*.log
